.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
  border-radius: 5px;
}

.App-header {
  background-color: #222;
  height: 92px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.cam-container {
  margin: 0px 50% 0px 0px;
  border: 5px solid #AF1919;
  box-shadow: 2px 3px 3px 3px #1b1b1b;

}

.react-player {
  margin: 0px 0px 0px 50%;

}

.webcam {
  height: 100%;
  width: 100%;
  display: flex;
  align-self: flex-start;
}

h4 {
  margin: 0px 0px 0px 50%;
}

